<div data-name="@server.Name">
	@server.Name (@server.City) is @(server.IsOnline ? "online" : "offline") at @DateTime.Now
</div>

@code {
	private Server server =
		new Server
		{
			Name = "Server 1",
			City = "Seattle",
		};
}
