<div data-name="@server.Name"
	 data-status="@(server.IsOnline ? "online" : "offline")"
	 style='@($"color:{(server.IsOnline ? "green" : "red")}")'>
	@server.Name (@server.City) is @(server.IsOnline ? "online" : "offline") at @DateTime.Now
</div>

@code {
	private Server server =
		new Server
		{
			Name = "Server 1",
			City = "Seattle",
		};
}
